site_name: MJJ-REF Docs
copyright: Creative Commons Attribution-ShareAlike 4.0 International License
extra:
  generator: false
  analytics:
    provider: google
    property: G-1BJ0XH0RSM

#  social:
#    - icon: fontawesome/brands/github
#      link: https://github.com/MetaCubeX/mihomo
#    - icon: material/file-document
#      link: https://github.com/MetaCubeX/Meta-Docs

theme:
  name: material
  features:
    - search.highlight
    - navigation.tracking
    - navigation.instant
    # - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.tracking
    - navigation.top
    - navigation.tabs
    - navigation.sections
    - toc.follow
    - content.action.edit
    - content.code.copy
    - content.code.select
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      toc_depth: 3
      anchorlink: true
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.magiclink

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji

nav:
  - 简介: index.md
  - 脚本:
      - 初始化脚本: Script/Initialization.md
      - 检测脚本: Script/Detection.md
  - 命令: Command.md
  - 集群: Cluster.md
  - 配置:
      - 基础配置: Configuration/index.md
      - 问题疑难: Configuration/FAQ.md
      - Oracle 专区: Configuration/Oracle.md
  - 部署: 
      - Komari: Deploy/Komari.md
  - 关于: About.md

plugins:
  - search
  - awesome-pages

  - git-revision-date-localized:
      locale: zh
